.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.filter_type {
  text-align: center;
  width: 100%;
  padding: 5px 0px 5px 0px;
  color: #fff;
  border: 2px solid black;
  background-color: #1c1e22;
  border-radius: 5px;
  margin-bottom: 3px;
}

.filter_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  width: 80%;
  color: #6d808b;
}

@media (max-width: 480px) {
  .filter {
    width: 35%;
  }
}
